.container {
    max-width: 80vw;
    max-height: 80vh;
    background-color: whitesmoke;

    .productsCart {
        max-height: 80vh;
        overflow-y: auto;
    }

    .cart {
        max-height: 80vh;
        overflow-y: auto;
    }
}