.productCard {
    justify-content: center;
}

.addToCartButton {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #2b69b1;
    color: white;
}